@font-face {
  font-family: "FontAwesome";
  src: url("../font/FontAwesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../font/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
  url("../font/FontAwesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
  url("../font/FontAwesome/fontawesome-webfont.woff?v=4.7.0") format("woff"),
  url("../font/FontAwesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
  url("../font/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}


.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

